<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.boot.mapper.BoardMapper">
	<insert id="insert" parameterType="com.ssafy.boot.dto.BoardDto">
	INSERT INTO BOARD_TB(BTITLE, BWRITER, BCONTENT) VALUES(#{btitle},#{bwriter},#{bcontent})
	</insert>
	
	<select id="selectOne" parameterType="int" resultType="com.ssafy.boot.dto.BoardDto">
	SELECT BNUM, BTITLE, BCONTENT, BWRITER, BREGDATE
	FROM BOARD_TB WHERE BNUM=#{bnum}
	</select>
	
	<select id="selectList" resultType="com.ssafy.boot.dto.BoardDto">
	SELECT BNUM, BTITLE, BWRITER, BREGDATE 
	FROM BOARD_TB 
	ORDER BY BNUM DESC LIMIT #{startRow},#{count}
	</select>
	
	<select id="selectCount" resultType="int">
	SELECT COUNT(*) FROM BOARD_TB
	</select>
</mapper>